<div layout="column" layout-align="center center">
  <form ng-submit="vm.subscribe()" ng-hide="vm.subscribed" class="show-hide">
    <md-input-container md-no-float>
      <!-- <md-icon md-svg-src="modules/subscribe/client/img/ic_email_24px.svg"></md-icon> -->
      <input ng-model="vm.email" type="email" placeholder="{{::mwPlaceholder}}">
    </md-input-container>
  </form>
    <div class="show-hide ng-hide animated-wrapper" ng-hide="vm.subscribed">
      <div class="animate-hide ng-hide" ng-hide="!vm.isValid()">
        <md-button ng-click="vm.subscribe()" class=" dancing" aria-label="Subscribe"><span class="initialmessage">{{::mwEmailButtonMessage}}</span></md-button>
      </div>
      <p ng-hide="vm.isValid()" class="ng-hide animate-hide-right dancing" aria-label="Subscribe"><span class="initialmessage">{{::mwInitialMessage}}</span></p>
    </div>
</div>
<div ng-show="vm.thankyou" class="ng-hide show-hide md-display-1 dancing initialmessage">{{::mwThankYou}}</div>
