<style>
  body {
    font-family: courier;
    font-size: 12pt;
    text-align: center;
    margin: 100px;
    color:black;
  }
  
  blink {
    color: yellow;
  }
  
  .neg {
    padding: 2px 8px;
    font-weight: bold;
  }
  
  p {
    margin: 30px 100px;
  }
  
  a,
  a:hover {
    color: inherit;
    font: inherit;
  }
  
  .menu {
    text-align: center;
    margin-top: 50px;
  }
</style>

<span class="neg">ERROR 404</span>
<p>This page does not exist.. but this does!</p>

<img src="https://33.media.tumblr.com/3bfb7a478513975f630bd51d0b6cf264/tumblr_mzcku2GTQN1toamj8o1_500.gif"></img>
  
<p>Press any link to continue <blink>_</blink></p>
<p><a href="/">index</a></p>
