  <header>
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in">wedding stuff</div>
            <div class="intro-heading">wedding stuff</div>
        </div>
    </div>
	</header>

  <section class="home-section weddingday" id="weddingday" analytics-on="scrollby" analytics-event="scroll - weddingday">
		<div class="container">
			<div class="row">
					<div class="col-lg-12 text-center">
							<h2 class="section-heading">wedding day</h2>
							<!-- <p class="section-subheading text-muted">This should help you get to know more about me..</p> -->
					</div>
			</div>
		</div>
	</section>

	<section class="home-section ceremony" id="ceremony" analytics-on="scrollby" analytics-event="scroll - ceremony">
		<div class="container">
			<div class="row">
					<div class="col-lg-12 text-center">
							<h2 class="section-heading">ceremony</h2>
							<!-- <p class="section-subheading text-muted">These are some things I've picked up over the years..</p> -->
					</div>
			</div>			
		</div>
	</section>

  <section class="home-section reception" id="reception" analytics-on="scrollby" analytics-event="scroll - reception">
		<div class="container">
			<div class="row">
					<div class="col-lg-12 text-center">
							<h2 class="section-heading">reception</h2>
							<!-- <p class="section-subheading text-muted">These are some things I've picked up over the years..</p> -->
					</div>
			</div>			
		</div>
	</section>
  
  <section class="home-section accommodations" id="accommodations" analytics-on="scrollby" analytics-event="scroll - accommodations">
    <div class="container">
      <div class="row">
          <div class="col-lg-12 text-center">
              <h2 class="section-heading">accommodations</h2>
              <!-- <p class="section-subheading text-muted">These are some things I've picked up over the years..</p> -->
          </div>
      </div>			
    </div>
  </section>
  
  <section class="home-section contact" id="contactus" analytics-on="scrollby" analytics-event="scroll - contact">
    <div class="container">
      <div class="row">
          <div class="col-lg-12 text-center">
              <h2 class="section-heading">contact</h2>
              <!-- <p class="section-subheading text-muted">These are some things I've picked up over the years..</p> -->
          </div>
      </div>			
    </div>
  </section>
  
  <footer analytics-on="scrollby" analytics-event="scroll - footer">
      <div class="container">
          <div class="row text-center">
            <span class="copyright">Copyright &copy; <strong>Chris Driscol</strong> <span ng-bind="currentYear"></span></span>
          </div>
      </div>
  </footer>
