<div layout-padding class="home" layout="column" layout-align="center center">
    <h1 class="md-display-3 dancing"><strong>Nate Miller</strong> <span class="md-display-1">&amp;</span> <strong>Michelle Place</strong></h1>
    <mw-subscribe 
      mw-thank-you="Thanks, we'll be sure to keep you updated!" 
      mw-initial-message="Enter your email to receive updates from us!"
      mw-email-button-message="Sign me up!"
      mw-placeholder="youremail@gmail.com" 
      class="show-hide"></mw-subscribe>
    <div class="md-headline dancing">
      4&middot;16&middot;16<br>
      Winter Park, CO
    </div>
</div>
