<span ng-include="'/modules/header/client/views/header.view.html'"></span>

<span ng-include="'/modules/weddingday/client/views/weddingday.html'"></span>

<span ng-include="'/modules/ceremony/client/views/ceremony.view.html'"></span>

<span ng-include="'/modules/reception/client/views/reception.view.html'"></span>

<span ng-include="'/modules/accommodations/client/views/accommodations.view.html'"></span>

<span ng-include="'/modules/contact/client/views/contact.view.html'"></span>
  
<span ng-include="'/modules/footer/client/views/footer.view.html'"></span>
