.home-section {
  padding: 100px 0;
  min-height: calc(100vh);
  h2.section-heading {
    margin-top: 0;
    margin-bottom: 50px;
    color:white;
    font-family: 'Dancing Script', cursive;
    font-size:4rem;
  }
  h3.section-subheading {
    margin-top: 15px;
    margin-bottom: 15px;
    color:white;
    font-family: 'Dancing Script', cursive;
    font-size:3.5rem;
    a {
      color:white;
    }
  }
  h4.section-subheading {
    margin-top: 0;
    margin-bottom: 15px;
    color:white;
    font-family: 'Dancing Script', cursive;
    font-size:2.8rem;
    a {
      color:white;
    }
  }
  
  p.section-subheading {
    margin-top: 0;
    margin-bottom: 0;
    color:white;
    font-family: 'Dancing Script', cursive;
    font-size:1.8rem;
    a {
      color:white;
    }
  }
  
  /* Extra Small Devices, Phones */ 
  @media only screen and (max-width : 480px) {
    h2.section-heading {
      font-size:3rem;
    }
    h3.section-subheading {
      font-size:2.5rem;
    }
    h4.section-subheading {
      font-size:1.8rem;
    }
    
    p.section-subheading {
      font-size:1.3rem;
    }
  }

  /* Custom, iPhone Retina */ 
  @media only screen and (max-width : 320px) {
    h2.section-heading {
      font-size:3rem;
    }
    h3.section-subheading {
      font-size:2.5rem;
    }
    h4.section-subheading {
      font-size:1.8rem;
    }
    
    p.section-subheading {
      font-size:1.3rem;
    }
  }
}
