.nav > li > a:hover, .nav > li > a:focus {
  background-color:white;
}
.navbar {
  background-color:white;
  .navbar-nav>.active>a {
    background-color:white;
    border-bottom: 1px solid;
    &:focus {
      background-color:white;
    }
  }
}
