<section class="home-section accommodations" id="accommodations" analytics-on="scrollby" analytics-event="scroll - accommodations">
  <div class="container">
    <div class="row">
        <div class="col-lg-12 text-center information">
            <h2 class="section-heading">accommodations</h2>
            <h4 class="section-subheading">We would love for you to stay with us at the lodge!</h4>
            <img class="img-responsive" src="/modules/core/client/img/lodge2.jpg" alt="Lodge"></img>
            <h3 class="section-subheading">Woodspur Lodge</h3>
            <p class="section-subheading">111 Van Anderson Dr.</p>
            <p class="section-subheading">Winter Park, CO 80482</p>
            <p class="section-subheading">800.626.6562</p>
            <p class="section-subheading"><a href="mailto:woodspurlodge@woodspur.com">woodspurlodge@woodspur.com</a></p>
            <p class="section-subheading mention"><i>Mention Miller/Place Wedding when booking for discounted rate</i></p>
        </div>
        <div class="col-lg-12 text-center information beaver-village">
            <h4 class="section-subheading">...or you can book your stay at Beaver Village Lodge.</h4>
            <img class="img-responsive" src="/modules/core/client/img/beaver-village.png" alt="Beaver Village Lodge"></img>
            <h3 class="section-subheading">Beaver Village Lodge</h3>
            <p class="section-subheading">79303 US-40</p>
            <p class="section-subheading">Granby, CO 80446</p>
            <p class="section-subheading">970.726.5741</p>
            <p class="section-subheading"><a href="http://www.beavervillage.com/winter-park/directory/lodge/beaver-village-lodge">Lodge Website</a></p>
            <p class="section-subheading mention"><i>Mention Nate Miller Wedding when booking for discounted rate on April 15th and 16th.</i></p>
        </div>
    </div>
  </div>
</section>
