<section class="home-section accommodations" id="accommodations" analytics-on="scrollby" analytics-event="scroll - accommodations">
  <div class="container">
    <div class="row">
        <div class="col-lg-12 text-center information">
            <h2 class="section-heading">accommodations</h2>
            <h4 class="section-subheading">We would love for you to stay with us at the lodge!</h4>
            <img class="img-responsive" src="/modules/core/client/img/lodge2.jpg" alt="Lodge"></img>
            <h3 class="section-subheading">Woodspur Lodge</h3>
            <p class="section-subheading">111 Van Anderson Dr.</p>
            <p class="section-subheading">Winter Park, CO 80482</p>
            <p class="section-subheading">800.626.6562</p>
            <p class="section-subheading"><a href="mailto:woodspurlodge@woodspur.com">woodspurlodge@woodspur.com</a></p>
            <h4 class="section-subheading mention"><i>Mention Miller/Place Wedding when booking for discounted rate</i></h4>
        </div>
    </div>			
  </div>
</section>
