<section class="home-section ourstory" id="ourstory" analytics-on="scrollby" analytics-event="scroll - ourstory">
  <div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading">our story</h2>
        </div>
    </div>
    <div class="col-md-6">
      <div class="text-center">
          <h2 class="section-heading">how we met</h2>
      </div>
      <p>
        Nate and I are both ER nurses and work together at Swedish Medical Center.
        We were friends for awhile but the winter of 2013-2014, we started to go skiing together with a group of friends. I had my eye on Nate from the beginning because he was an amazing skier and I like the competition. I grew up with 4 brothers and love to ski. We both realized that we were comparable skiers and enjoyed skiing together...
      </p>
      <p>
        So on January 4th, 2014, Nate asked me to go skiing with just him at Winter Park. We had an amazing day of skiing, talking, and definitely flirting. From then on, we knew that this was more than friends. We continued to ski out the season becoming a couple and enjoying each others company.
      </p>
      <p>
        We also enjoy many summer acitivies together. I became a white water rafting guide the summer of 2014. Nate enjoys fly fishing and taught me how to fly fish. I have now caught a couple fish on my own and am "hooked" on the sport. Hiking, biking, backpacking, camping, you name it... <strong>WE LOVE IT!!</strong>
      </p>
    </div>
    <div class="col-md-6">
      <div class="text-center">
          <h2 class="section-heading">the proposal</h2>
      </div>
      <p>
        April 3rd, 2015, Nate asked me to go skiing at Winter Park. We got to the mountain and threw on our skis and hit the slopes. He was acting weird but I so excited to be skiing that I didnt really care. We made it to the top of the Panoromic lift and he stopped and asked someone to take our picture. Now this was REALLY WEIRD. I am usually the one that is asking people to take our picture and Nate is annoyed that I do this. But here he is asking someone to do it on this beautiful day at the top of the mountain... I started to think to myself  "Is this happening? This could be it. Is he going to ask me? This would be the most perfect spot of all time!!"
      </p>
      <p>
        This kind man took our picture and then Nate said "Ok well lets go." and started skiing down the mountain. So I shook it off and followed right after him. We jumped into the trees and started to head down the mountain, when Nate called out for me to follow him and come over to him. I followed him to this little opening in the trees, where I found him with his skis off, down on one knee, asking to hold my hands... He asked me to <strong>MARRY HIM</strong> and I immediately jumped into his arms in doing so pushing him into the snow. We sat on the side of the mountain for the rest of the afternoon, in love and
engaged to be married.
      </p>
    </div>
  </div>
</section>
