<section class="home-section registry" id="registry" analytics-on="scrollby" analytics-event="scroll - registry">
  <div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading">we're registered here</h2>
        </div>
    </div>
    <div class="col-md-4">
      <a class="logo cb" href="http://www.crateandbarrel.com/gift-registry/michelle-place/r5419317" target="_blank" alt="crate &amp; barrel"></a>
    </div>
    <div class="col-md-4">
      <a class="logo target" href="http://www.target.com/gift-registry/giftgiver?registryId=lkoyZIuDltR3hnLYk_9ZFg&registryType=WEDDING" target="_blank" alt="target"></a>
    </div>
    <div class="col-md-4">
      <a class="logo rei" href="http://www.rei.com/GiftRegistryDetails/GR121468888" target="_blank" alt="rei"></a>
    </div>
  </div>
</section>
