header {
  text-align: center;
  min-height: 300px;
  padding-top: 300px;
  padding-bottom: 200px; }

.header-center {
  position: absolute;
  left: 50%;
  width: 200px;
  height: 60px;
  margin-left: -100px;
  background: white;
  border-radius: 50%; }
  .header-center a {
    width: 100%;
    text-align: center;
    font-size: 2.5rem; }
    .header-center a .date {
      font-size: 1.5rem; }
