header {
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px; }
  header .header-main {
    color: white;
    font-size: 3.8rem; }
  header .images {
    min-height: 400px; }
    header .images img {
      max-width: 400px;
      margin: 0 auto;
      max-height: 400px;
      border-radius: 20px;
      margin: 0 auto;
      position: absolute;
      left: 50%;
      margin-left: -200px; }

.header-center {
  position: absolute;
  left: 50%;
  width: 200px;
  height: 60px;
  margin-left: -100px;
  background: white;
  border-radius: 50%; }
  .header-center a {
    width: 100%;
    text-align: center;
    font-size: 2.5rem; }
    .header-center a .date {
      font-size: 1.5rem; }
